body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header .logo {
    width: 100px;
    height: auto;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* Bordes redondeados */
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #333;
    /* Color del borde al enfocar */
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.book-grid .book {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra más pronunciada */
    border-radius: 8px;
    /* Bordes redondeados */
    position: relative;
    transition: transform 0.3s ease;
}

.book-grid .book:hover {
    transform: translateY(-5px);
    /* Efecto de elevación al pasar el mouse */
}

.book-grid .book img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* Bordes redondeados */
}

.book-grid .book-title {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.bookmark-container {
    position: absolute;
    top: 10px;
    right: 10px;
}


/* Estilos para el marcador */

.ui-bookmark {
    --icon-size: 24px;
    --icon-secondary-color: rgb(77, 77, 77);
    --icon-hover-color: rgb(97, 97, 97);
    --icon-primary-color: gold;
    --icon-circle-border: 1px solid var(--icon-primary-color);
    --icon-circle-size: 35px;
    --icon-anmt-duration: 0.3s;
}

.ui-bookmark input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

.ui-bookmark .bookmark {
    width: var(--icon-size);
    height: auto;
    fill: var(--icon-secondary-color);
    cursor: pointer;
    transition: fill 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-bookmark .bookmark svg {
    width: 100%;
    height: 100%;
}

.ui-bookmark input:checked+.bookmark {
    fill: var(--icon-primary-color);
}

.ui-bookmark input:focus+.bookmark {
    outline: var(--icon-circle-border);
    outline-width: var(--icon-circle-size);
    outline-offset: 2px;
}